# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.map
node_modules
npm*log*
dist
coverage
.webpack.json
typings
